{% load static from staticfiles %}
{% load i18n %}
    <!-- Bootstrap Switch (requerido) -->
    <script src="{% static 'vendors/bootstrap-switch-3.3.2/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <!-- Manual de Usuario Dinamico -->
    <script src="{% static 'js/manual.js' %}"></script>
    <!-- Funciones especiales -->
    <script src="{% static 'js/funciones.js' %}"></script>
    <!-- Bootbox -->
    <script src="{% static 'vendors/bootbox/bootbox.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
   <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-filestyle.js' %}"></script>
    <script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>